---
layout: default
permalink: /give
title: Give
---

<div class="row">
    <div class="col l5">
        <div class="row">
            <div class="col">
              {% include sections/donorbox.html %}
            </div>
        </div>

    </div>

    <div class="col l5" style="padding-left: 10px;">
        <div class="row">
            {% include sections/projects.html %}
        </div>
        <div class="row">
            {% include sections/career.html %}
        </div>
    </div>


</div>
