---
layout: default
permalink: /projects
title: Current Projects
---

<div class="row">
    <div class="col l6">
        <div class="row">
            <div class="col">
{% for post in site.categories.Ideas reversed %}
<section class="post">
  <header class="post-header">
  <h4>
    <a href="{{ site.url }}{{ post.url }}" class="post-title" title="{{ post.title | escape }}">{{ post.title }}</a>

    {% if post.link %}
    <a class="post-title-link" href="{{ post.link }}" target="_blank" title="{{ post.title | escape }}"><i class="fa fa-external-link"></i></a>
    {% endif %}

  </h4>

    {% if post.author %}
      {% assign author = site.data.authors[post.author] %}
    {% else %}
      {% assign author = site.owner %}
    {% endif %}

    </header>

    {% if post.image.feature %}
    <div class="post-image-feature">
      <img src=
      {% if post.image.feature contains 'http' %}
      "{{ post.image.feature }}"
      {% else %}
      "{{ site.url }}/img/{{ post.image.feature }}"
      {% endif %}
      alt="{{ post.title | escape }} feature image">

    </div><!-- /.image-wrap -->
    {% endif %}

    {% if post.excerpt %}
    <div class="post-description">
      <p style="border-style: solid; border-color: #E71C4D; border-width: 1px;">
        {{ post.excerpt }}
      </p>
    </div>
    {% endif %}


</section>
{% endfor %}
</div>
</div>
</div>

<div class="col l4" style="padding-left: 50px;">
  <div class="row">
    <div class="col">

      <h2 style="margin: 0">Current Projects</h2>
      <p style="margin: 0">We develop, design, and deploy innovative ideas at every level of our justice system.</p>
      <br>
      </div>
    <div class="row">
      <img src="./img/arbbie.jpg" height="350">
      <br>
    </div>
    <div class="row">
      <p style="margin: 0">Some of our ideas never make it out of the incubator. Learn more about our <a href="./past">past projects.</a></p>
      <br>
    </div>
  </div>
</div>
</div>
