---
layout: default
permalink: /team
title: Team
---

<div class="row">
    <div class="col l7" >
        <div class="row">
            <div class="col">
{% for post in site.categories.Team %}
<section class="post">
  <header class="post-header">
    <h4>
      {{ post.title }}
      {% if post.link %}
      <a class="post-title-link" href="{{ post.link }}" target="_blank" title="{{ post.title | escape }}"><i class="fa fa-external-link"></i></a>
      {% endif %}
    </h4>

    {% if post.author %}
      {% assign author = site.data.authors[post.author] %}
    {% else %}
      {% assign author = site.owner %}
    {% endif %}

    </header>
    {% if post.image.feature %}
    <div class="post-image-feature">
      <img src=
      {% if post.image.feature contains 'http' %}
      "{{ post.image.feature }}"
      {% else %}
      "{{ site.url }}/img/{{ post.image.feature }}"
      {% endif %}
      alt="{{ post.title | escape }} feature image">

    </div><!-- /.image-wrap -->
    {% endif %}

    {% if post.excerpt %}
    <div class="post-description">
      <p>
        {{ post.excerpt }}
      </p>
    </div>
    {% endif %}



</section>
{% endfor %}
</div>
</div>
</div>

<div class="col l4" style="padding-left: 50px;">
      <div class="row">
        <div class="col">

<h2 style="margin: 0">Board of Directors</h2>
  <ul><b>Lorenzo Arroyo, Esq.</b><br>ABC Studios</ul>
  <ul><b>The Hon. Maria Stratton</b><br>California Court of Appeal</ul>
  <ul><b>The Hon. Mark Borenstein</b><br>Los Angeles Superior Court</ul>
  <ul><b>Peter Borenstein, Esq.</b><br>Restorative Justice Fund</ul>
  <ul><b>Yoram Heller</b><br>Sunday Goods</ul>

      <div class="row">
<h2 style="margin: 0">Partners</h2>
    <ul><a href="https://twitter.com/annenberg_fdn?lang=en" target="_blank">Annenberg Foundation</a></ul>
    <ul><a href="https://thefranciscohomes.org/" target="_blank">The Francisco Homes</a></ul>
    <ul><a href="https://www.goodwillsocal.org/career-services/" target="_blank">Goodwill Southern California</a></ul>
    <ul><a href="https://www.weingartfnd.org/" target="_blank">Weingart Foundation</a></ul>
    <ul><a href="https://yesworld.org/" target="_blank">YES!</a></ul>


</div>
</div>
</div>
</div>
</div>
