---
layout: default
permalink: /tools
title: Tools
---

<div class="row">
    <div class="col l5" >
        <div class="row">
            <div class="col">
{% for post in site.categories.Tools %}
<section class="post">
  <header class="post-header">
    <h4>
      {{ post.title }}
      {% if post.github %}
      <a class="post-title-link" href="{{ post.github }}" target="_blank" title="{{ post.title | escape }}"><i class="fa fa-github"></i></a>
      {% endif %}
    </h4>
    </header>

    {% if post.excerpt %}
    <div class="post-description">
      <p style="border-style: solid; border-color: #E71C4D; border-width: 1px;">
        {{ post.excerpt }}
      </p>
    </div>
    {% endif %}

</section>
{% endfor %}
</div>

</div>
</div>

    <div class="col l5" style="padding-left: 50px;">
      <div class="row">
        <div class="col">

      <h2 style="margin: 0">Software tools</h2>
      <p style="margin: 0">Developed in-house to enhance the <a href="./projects">projects</a> we're working on.</p>
      <br>
        </div>
        <div class="row">         
            <img src="./img/womanbytree.jpg" height="350">
            <br>
            </div>
         </div>
        <div class="row">
        <p style="margin: 0">For access, please send an email to <a href="mailto:contact@rjfund.org">contact@rjfund.org</a>.</p>
            <br>
        </div>
</div>
</div>

